.advantage-list {
  @include reset-list;
}

.advantage-list__title {
  @include reset;
  margin-bottom: 15px;
  color: $title-color;
}

.advantage-list__wrapper,
.advantage-list__item--blue {
  padding-top: 45px;
  background-color: $bg-blue;
}

.advantage-list__item--grey {
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: $bg-grey;
  border-bottom: 1px solid $title-color;
}

.advantage-list__item--grey:last-child {
  border-bottom: none;
}

.advantage-list__text {
  @include reset;
  margin-bottom: 42px;
  font-size: 14px;
  line-height: $line-height;
  color: $text-color;
}

.advantage-list__number {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .advantage-list__wrapper {
    display: flex;
  }

  .advantage-list__item--blue {
    display: flex;
  }

  .advantage-list__image--bridge {
    order: -1;
  }

  .advantage-list--grey {
    display: flex;
  }

  .advantage-list__text {
    display: flex;
    flex-direction: column;
  }
}
