.button {
  width: 280px;
  margin: 0 auto;
  padding-top: 17px;
  padding-right: 47px;
  padding-bottom: 19px;
  padding-left: 47px;
  background: $bg-blue;
  color: $bg-light;
  font-weight: bold;
}
