.page-footer__hashtag {
  @include reset;
  margin-top: 31px;
  margin-right: 93px;
  margin-left: 91px;
  font-size: 21px;
  font-weight: bold;
  color: $title-color;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
  }
}
