.photo-list {
  @include reset-list;
  font-size: $font-size;
  line-height: 24px;
}

.photo-list__item {
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 1px solid $placeholder-light;
}

.photo-list__item:last-child {
  border-bottom: 1px solid $placeholder-light;
}

.photo-list__title {
  @include reset;
  padding-bottom: 10px;
  font-weight: $bold;
  color: $title-color;
}

.photo-list__description {
  @include reset;
  padding-bottom: 10px;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
  }

  .photo-list__item:first-child {
    width: 648px;
  }
}

@media (min-width: $desktop-width) {
  .photo-list {
    width: 1200px;
  }
}
