.site-list {
  @include reset-list;
}

.site-list__item {
  width: 100%;
}

.site-list__link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  color: $bg-light;
  background: $bg-blue;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
  }

  .site-list__link {
    font-size: $font-size;
    color: $title-color;
    background: $bg-light;
  }
}
