.video {
  padding-top: 40px;
}
.video__title {
  @include reset;
  margin-bottom: 35px;
  font-size: 18px;
  color: $title-color;
  font-weight: $bold;
}
.video__text {
  @include reset;
  margin-bottom: 40px;
  font-size: $fsize-text;
  line-height: 24px;
}
