@font-face {
  font-weight: normal;
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: "PTSans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  @include reset;
  min-width: 320px;
  font-size: 18px;
  line-height: 26px;
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;
  background: $bg-light;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
