@font-face {
  font-weight: normal;
  font-family: "PTSans";
  src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: "PTSans";
  src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-family: "PTSans";
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;
  background: $bg-light;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  width: 280px;
  margin: 0 auto;
  padding-top: 17px;
  padding-right: 47px;
  padding-bottom: 19px;
  padding-left: 47px;
  background: $bg-blue;
  color: $bg-light;
  font-weight: bold;
}
